server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:

        - id: car-catalog-route
          uri: http://localhost:8081
          predicates:
            - Path=/catalog/**
          filters:
            - StripPrefix=0

        - id: inventory-route
          uri: http://localhost:8082
          predicates:
            - Path=/inventory/**
          filters:
            - StripPrefix=0

        - id: order-route
          uri: http://localhost:8083
          predicates:
            - Path=/orders/**
          filters:
            - StripPrefix=0

        - id: user-route
          uri: http://localhost:8084
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=0


logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: INFO
    org.springframework.web.reactive.function.client: INFO

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always