server:
  port: 8081

spring:
  application:
    name: car-catalog-service

management:
  endpoints:
    web:
      exposure:
        include: health

  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO

