server:
  port: 8081

spring:
  application:
    name: car-catalog-service

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health
        
  endpoint:
    health:
      show-details: always
