server:
  port: 8083

spring:
  application:
    name: order-service

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always


logging:
  level:
    root: INFO

