server:
  port: 8082

spring:
  application:
    name: inventory-service

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO

